html{
    background-color:rgb(255, 218, 151);
}

#info{
    background-color: #FEFAE2;
}

h1 {
    width: max-content;
    text-align: left;
    font-family:sans-serif; 
    font-size: 35px;
    color:rgb(255, 145, 0);
    font-weight: bold;
}

p{
    margin: 5px;
}

#tologin {
    font-size: 17px;
    background:none;
    border: 2px solid rgba(0, 0, 0, 0);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
}

#tt {
    font-size: 20px;
    margin-bottom: 15px;
}

#birth {
    width:170px;
}

#submit{    /* #은 id, .은 class를 지정한다. 이 id는 button 태그에 붙었다. */
    height:32px;  /* 박스의 높이를 설정한다.   */
    width:150px;   /*  박스의 너비를 설정한다.  */
    text-align:center;  /*  글자의 정렬  */
    margin-top: 20px;   /*  경계 바깥의 공간 넓이를 지정한다. top left right bottom으로 구역을 설정할수도 있다. */
    border: 1px solid green;  /*  박스의 경계를 두께, 형태, 색깔로 지정한다.  */
    font-size: 16px;   /*  폰트의 크기를 지정한다.  */ 
    background: rgb(208, 255, 137);   /*  배경색을 지정한다.  */
    padding-left: 30px;    /*  박스의 너비를 크게한다.  */
    padding-right: 30px;  /* 박스의 높이를 크게한다.   */
}

#cancel{
    height:32px;
    width:150px;
    text-align:center;
    margin-top: 20px;
    border: 1px solid orangered;
    font-size: 16px;
    background: rgb(255, 179, 151);
    padding-left: 30px;
    padding-right: 30px;
}

#grade{
    width:30px;
}

.essential_star{
    color: red;

}

.makeborder {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 4px solid orange;
    border-top: 4px solid orange;
}

.inputbox{
    border:2px solid rgb(255, 204, 0);
    background: none;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 15px;
    font-family:monospace;
    text-align: center;
}



